<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="" method="POST">
      <input type="text" name="name" placeholder="Enter Your Email"><br><br>
      <input type="email" name="email" placeholder="Enter Your Password"><br><br>
      <!-- <input type="number" name="mno" placeholder="Enter Your Mobile No"><br><br> -->
      <input type="submit" value="login">
  </form>
  </body>
</html>
